
<div class="body">
    <div class="form-signin">
        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-100">
            <div class="text-center mb-5">
                <img src="assets/logo.svg" alt="Image" height="70" width="70" class="mb-3">
                <div class="text-900 text-3xl font-medium mb-3">Coloque suas informações</div>
            </div>
            <div>
                <div class="col-12 md:col-4 w-full mb-2">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Username">         
                    </div>
                </div>
                <div class="col-12 md:col-4 w-full mb-2">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                        <input type="text" pInputText placeholder="Email">         
                    </div>
                </div>
                <div class="col-12 md:col-4 w-full mb-2">
                    <div class="p-inputgroup ">
                        <span class="p-inputgroup-addon "><i class="pi pi-lock"></i></span>
                        <input type="text" pInputText placeholder="Senha">         
                    </div>
                </div>
                <div class="col-12 md:col-4 w-full mb-2">
                    <div class="p-inputgroup ">
                        <span class="p-inputgroup-addon "><i class="pi pi-lock"></i></span>
                        <input type="text" pInputText placeholder="Confirme a senha">         
                    </div>
                </div>
                <button routerLink="/home" pButton pRipple label="Cadastrar-se" icon="pi pi-user-plus" class="w-full mt-3 cadastroButton"></button>
                <div class="text-center">
                    <div class="text-400 text-1xl font-medium mt-2">ou</div>
                </div>
                <button routerLink="/home" pButton pRipple label="Cadastrar-se com Gmail" icon="pi pi-google" class="w-full mt-3 githubButton"></button>
                <button routerLink="/home" pButton pRipple label="Cadastrar-se com Github" icon="pi pi-github" class="w-full mt-3 githubButton"></button>
            </div>
        </div>
    </div>
</div>
<footer class="text-center text-white footerCustom">
    <!-- Grid container -->
    <div class="container pt-3">
      <!-- Section: Social media -->
      <section class="">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="pi pi-facebook customIcons"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="pi pi-twitter customIcons"></i></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="pi pi-google customIcons"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="pi pi-instagram customIcons"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="pi pi-linkedin customIcons"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="pi pi-github customIcons"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
</footer>
       
      
       

  

